.cats{
  overflow: hidden;
  width: 451px;
}
.pictures{
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s;
}
.pictures img{
  border: 1px solid;
}
.buttons{
  cursor: pointer;
}
.red{
  color: red;
}
