ul{list-style: none;}
.navBar{
  float: right;
}
.navBar >a{
	float: left;
}
.navBar::after{
	content: '';
	display: block;
	clear: both;
}
.navBar > a{
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  float: left;
  padding: 0 10px;
}
.navBar >a:hover{
  color: #0055DB;
}
.navBar .product > li > img{
	width: 35px;
}
